.projects--container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects-sub {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/* PROYECTO */
.project-container {
	width: 350px;
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	cursor: pointer;
	margin: 10px;
}

.project {
	position: relative;
}

.project-image {
    display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.project-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
}

.project-text-container {
	width: auto;
}

.project:hover .project-image {
	transform: scale(1.1);
	filter: blur(2px);
}

.project:hover .project-description {
	opacity: 1;
	transform: translateY(0);
}

.project-out {
	display: flex;

	.project-title {
		font-size: 1.2rem;
		margin: 0;
		margin-left: 10px;
	}

	.project-links {
		color: #e5e5e5;
		font-size: 1.3rem;
		margin: 0 30px;

		&:hover {
			color: #fca311;
		}
	}
}