

.custom-input {
    background-color: #334155; 
    color: #F1F5F9;            
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #FBBF24;   
    border-radius: 12px;         
    font-size: 1.5rem;          
    text-decoration: none;      
    transition: all 0.3s ease;  
}
  
.social-link:hover {
    transform: scale(1.1);       
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}