
<div class='container-md mt-5 text-center d-flex flex-wrap justify-content-evenly px-5'>
    <div class='mt-5'>
        <div>
            <h1 class='display-4 bold'><strong>Matías Alfaro Campos</strong></h1>
            <h4 style='opacity: 0.9;'>Analista programador</h4>
        </div>
        
        <a class="btn btn-secondary btn-md mt-2" 
            href="https://drive.google.com/uc?export=download&id=15EMSUaQqRsRGievz84UEDle1XPIzUwP2"
            target='_blank' 
            rel='noopener noreferrer'
            role="button">
            Descarga mi CV
        </a>
    </div>

    <div class='my-5'>
        <img src="assets/img/pfp.jpg" class="rounded-circle" width="250" height="250" alt="Foto de perfil">
    </div>
</div>