/* You can add global styles to this file, and also import other style files */

$primary: #38BDF8;  
$secondary: #FBBF24;
$info: #334155;
$info-2: #1E293B;
$body-bg: #0F172A;
$color-texto: #F1F5F9;

@import "bootstrap/scss/bootstrap";

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $color-texto;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    list-style: none;
}

.footer-redes li {
    padding-left: 20px;
}





